$loader-height: 50px;
$loader-height-minimified: 10px;

.loader-wrapper {
    height: $loader-height;
    width: min(100px, 100%);
    
    &.center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &.minified {
        height: $loader-height-minimified;
     
        & .loader {
            height: $loader-height-minimified;
        }
    }
}

/* HTML: <div class="loader"></div> */
.loader {
    width: $loader-height;
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
    background:
        var(--_g) 0% 50%,
        var(--_g) 50% 50%,
        var(--_g) 100% 50%;
    background-size: calc(100%/3) 100%;
    animation: l7 1s infinite linear;
}

@keyframes l7 {
    33% {
        background-size: calc(100%/3) 0%, calc(100%/3) 100%, calc(100%/3) 100%
    }

    50% {
        background-size: calc(100%/3) 100%, calc(100%/3) 0%, calc(100%/3) 100%
    }

    66% {
        background-size: calc(100%/3) 100%, calc(100%/3) 100%, calc(100%/3) 0%
    }
}